<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.babylonreactnative">

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="false" />

    <application>
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />
    </application>

</manifest>
