name: Publish Package
on:
  release:
    types: [published]

    
jobs:
  build-typescript:
    uses: ./.github/workflows/typescript.yml

  package:
    needs: [build-typescript]
    uses: ./.github/workflows/package.yml

  publish:
    runs-on: macos-latest
    needs: [package]
    steps:
      - name: Download Assembled Folder
        uses: actions/download-artifact@v4
        with:
          name: 'Assembled'
          path: Package/Assembled
      - name: Version & Publish Package
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}