name: Publish Package
on:
  release:
    types: [published]

jobs:
  build-android-ios-064:
    uses: ./.github/workflows/ios_android.yml
    with:
      react-native-version: '0.64'
      release-version: ${GITHUB_REF/refs\/tags\//}

  build-android-ios-065:
    uses: ./.github/workflows/ios_android.yml
    with:
      react-native-version: '0.65'
      release-version: ${GITHUB_REF/refs\/tags\//}
      
  build-android-ios-069:
    uses: ./.github/workflows/ios_android.yml
    with:
      react-native-version: '0.69'
      release-version: ${GITHUB_REF/refs\/tags\//}

  build-android-ios-070:
    uses: ./.github/workflows/ios_android.yml
    with:
      react-native-version: '0.70'
      release-version: ${GITHUB_REF/refs\/tags\//}

  build-android-ios-071:
    uses: ./.github/workflows/ios_android.yml
    with:
      react-native-version: '0.71'
      release-version: ${GITHUB_REF/refs\/tags\//}

  build-windows-064:
    uses: ./.github/workflows/windows.yml
    with:
      react-native-version: '0.64'
      release-version: ${GITHUB_REF/refs\/tags\//}
  build-windows-065:
    uses: ./.github/workflows/windows.yml
    with:
      react-native-version: '0.65'
      release-version: ${GITHUB_REF/refs\/tags\//}

  build-windows-069:
    uses: ./.github/workflows/windows.yml
    with:
      react-native-version: '0.69'
      release-version: ${GITHUB_REF/refs\/tags\//}

  build-windows-070:
    uses: ./.github/workflows/windows.yml
    with:
      react-native-version: '0.70'
      release-version: ${GITHUB_REF/refs\/tags\//}

  build-windows-071:
    uses: ./.github/workflows/windows.yml
    with:
      react-native-version: '0.71'
      release-version: ${GITHUB_REF/refs\/tags\//}

  build-typescript:
    uses: ./.github/workflows/typescript.yml
    with:
      release-version: ${GITHUB_REF/refs\/tags\//}

  package:
    needs: [build-typescript, build-android-ios-064, build-android-ios-065, build-android-ios-069, build-android-ios-070, build-android-ios-071, build-windows-064, build-windows-065, build-windows-069, build-windows-070, build-windows-071]
    runs-on: macos-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2.3.3
      - name: NPM Install (Binary Package)
        run: npm install
        working-directory: ./Package
      - name: Download Assembled Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled'
          path: Package/Assembled
      - name: Download Assembled-iOSAndroid 0.64 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-iOSAndroid0.64'
          path: Package/Assembled-iOSAndroid0.64
      - name: Download Assembled-iOSAndroid 0.65 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-iOSAndroid0.65'
          path: Package/Assembled-iOSAndroid0.65
      - name: Download Assembled-iOSAndroid 0.69 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-iOSAndroid0.69'
          path: Package/Assembled-iOSAndroid0.69
      - name: Download Assembled-iOSAndroid 0.70 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-iOSAndroid0.70'
          path: Package/Assembled-iOSAndroid0.70
      - name: Download Assembled-iOSAndroid 0.71 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-iOSAndroid0.71'
          path: Package/Assembled-iOSAndroid0.71
      - name: Download Assembled-Windows 0.64 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-Windows0.64'
          path: Package/Assembled-Windows0.64
      - name: Download Assembled-Windows 0.65 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-Windows0.65'
          path: Package/Assembled-Windows0.65
      - name: Download Assembled-Windows 0.69 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-Windows0.69'
          path: Package/Assembled-Windows0.69
      - name: Download Assembled-Windows 0.70 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-Windows0.70'
          path: Package/Assembled-Windows0.70
      - name: Download Assembled-Windows 0.71 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-Windows0.71'
          path: Package/Assembled-Windows0.71
#BaseKit
      - name: Download Assembled-BaseKit-iOSAndroid 0.69 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-BaseKit-iOSAndroid0.69'
          path: Package/Assembled-BaseKit-iOSAndroid0.69
      - name: Download Assembled-BaseKit-iOSAndroid 0.70 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-BaseKit-iOSAndroid0.70'
          path: Package/Assembled-BaseKit-iOSAndroid0.70
      - name: Download Assembled-BaseKit-iOSAndroid 0.71 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-BaseKit-iOSAndroid0.71'
          path: Package/Assembled-BaseKit-iOSAndroid0.71
      - name: Download Assembled-BaseKit-Windows 0.69 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-BaseKit-Windows0.69'
          path: Package/Assembled-BaseKit-Windows0.69
      - name: Download Assembled-BaseKit-Windows 0.70 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-BaseKit-Windows0.70'
          path: Package/Assembled-BaseKit-Windows0.70
      - name: Download Assembled-BaseKit-Windows 0.71 Folder
        uses: actions/download-artifact@v2
        with:
          name: 'Assembled-BaseKit-Windows0.71'
          path: Package/Assembled-BaseKit-Windows0.71

      - name: Display structure of downloaded Assembled and Assembled-Windows folders
        run: ls -R
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@babylonjs'
      - name: Version & Publish Package @babylonjs/react-native
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Version & Publish Package @babylonjs/react-native-iosandroid-0-64
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-iOSAndroid0.64
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-iosandroid-0-65
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-iOSAndroid0.65
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-iosandroid-0-69
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-iOSAndroid0.69
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-iosandroid-0-70
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-iOSAndroid0.70
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-iosandroid-0-71
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-iOSAndroid0.71
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Version & Publish Package @babylonjs/react-native-windows-0-64
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-Windows0.64
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-windows-0-65
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-Windows0.65
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-windows-0-69
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-Windows0.69
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-windows-0-70
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-Windows0.70
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-windows-0-71
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-Windows0.71
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
#BaseKit
      - name: Version & Publish Package @babylonjs/react-native-basekit-iosandroid-0-69
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-BaseKit-iOSAndroid0.69
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-basekit-iosandroid-0-70
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-BaseKit-iOSAndroid0.70
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-basekit-iosandroid-0-71
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-BaseKit-iOSAndroid0.71
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-basekit-windows-0-69
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-BaseKit-Windows0.69
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-basekit-windows-0-70
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-BaseKit-Windows0.70
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Version & Publish Package @babylonjs/react-native-basekit-windows-0-71
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish --access public
        working-directory: ./Package/Assembled-BaseKit-Windows0.71
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}