name: Publish Package
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.2.0
      - name: Setup Node.js
        uses: actions/setup-node@v1.4.2
        with:
          node-version: '12.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@ryantrem'
      - name: Version & Publish Package
        run: |
          npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}
          npm publish
        working-directory: ./Apps/Playground/node_modules/@babylonjs/react-native
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
