name: 'build windows'

on:
  workflow_call:
    inputs:
      WindowsTargetPlatformVersion:
        description: 'Windows Target Platform Version'
        type: string
        default: '10.0.26100.0'
        required: false

jobs:
  build-windows:
    runs-on: windows-latest
    continue-on-error: true
    steps:
      - name: Support longpaths
        run: git config --system core.longpaths true
      - name: Checkout Repo
        uses: actions/checkout@v4.2.2
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
      - name: Install watchman
        run: choco install watchman
        working-directory: ./Apps/Playground


      - name: Setting up developer environment
        run: |
          Copy-Item -Path "Apps/Playground/package-windows.json" -Destination "Apps/Playground/package.json" -Force
          Copy-Item -Path "Apps/Playground/package-lock-windows.json" -Destination "Apps/Playground/package-lock.json" -Force
        working-directory: ./

      - name: Setting up developer environment
        run: |
          npm install
          npx gulp setupDev
        working-directory: ./Package

      - name: Install package tools
        run: npm install
        working-directory: ./Modules/@babylonjs/react-native

      - name: Install packages for Playground
        run: npm install
        working-directory: ./Apps/Playground

      - name: NPM Generate Windows Project
        run: npx install-windows-test-app
        working-directory: ./Apps/Playground
       
      - name: Nuget restore
        run: nuget restore Playground.sln
        working-directory: ./Apps/Playground/windows
        
      - name: Windows build Playground
        run: MSBuild /p:Platform="x64" /p:Configuration="Release" /m Playground.sln /v:detailed /p:WindowsTargetPlatformVersion=${{ inputs.WindowsTargetPlatformVersion }}
        working-directory: ./Apps/Playground/windows
